:root {
  --font-base: 'Outfit', sans-serif;
  /* --font-alt: 'Open Sans', sans-serif; */
  
  --color-amber: #ffbd00;
  --color-black: #0C0C0C;
  --color-red: #ff0054;
  --color-orange: #ff5400;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
  --color-jam: #930059
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}